.testimonial-card {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    margin: auto 15px;
    padding: 60px 40px;
}

.testimonial {
    margin: 32px 0 32px
}

.divider {
    background: black;
    height: 1px;
    width: 100%;
}

.testimonial-bottom {
    display: flex;
}

.testimonial-bottom > * {
    flex: 1;
}

.testimonial-image {
    border: 1px solid black;
    border-radius: 50%;
    height: 8vw;
    object-fit: cover;
    width: 8vw;
}

@media only screen and (max-width: 1150px) {
    .testimonial-image {
        height: 16vw;
        width: 16vw;
    }
}

@media only screen and (max-width: 768px) {
    .testimonial-image {
        height: 30vw;
        width: 30vw;
    }
}

@media only screen and (max-width: 426px) {
    .testimonial-image {
        height: 25vw;
        width: 25vw;
    }

}

@media only screen and (max-width: 375px) {
    .testimonial-name {
        font-size: 1.1rem;
    }
}
