.hero-background-vector {
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: 0;
}
.hero-background-vector > img {
    width: 100vw;
}

.hero-section > * {
    color: #fff;
}

.hero-section {
    height: 792px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 140px 220px 140px 160px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #043873;
    z-index: -10;
}

.hero-section > div {
    flex: 50%;
}

.hero-heading-h1 {
    margin-bottom: 24px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-heading-text-block {
    margin-bottom: 60px;
}

.know-more-btn {
    width: 150px;
    height: 62px;
    border-radius: 8px;
    background: #4F9CF9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.know-more-btn > img {
    margin-left: 10px;
}

.hero-img {
    z-index: 5;
}

.hero-img > img {
    object-fit: cover;
    width: 100%;
}

