.hero-background-vector {
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 0;
    margin: 0 auto;
}

.hero-background-vector > img {
    width: 100vw;
}

.hero-section > * {
    color: #FFF;
}

.hero-section {
    align-items: center;
    background: #043873;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 10vh 10vw;
    width: 100%;
    z-index: -10;
}

.hero-section > div {
    flex: 50%;
}

.hero-heading-h1 {
    margin-bottom: 24px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-heading-text-block {
    margin-bottom: 60px;
}

.hero-img {
    display: flex;
    justify-content: center;
    z-index: 5;
}

.hero-image {
    max-width: 400px;
}

@media only screen and (max-width: 1000px) {
    .hero-heading-h1 {
        font-size: 3rem
    }
    .hero-background-vector > img {
        width: 1000px;
    }
}

@media only screen and (max-width: 768px) {

    .hero-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5vh 10vw;
    }

    .hero-heading-h1 {
        font-size: 2.8rem
    }

    .hero-heading {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
    }

    .hero-heading-text-block {
        margin: 0;
    }

    .hero-image {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-heading-h1 {
        font-size: 2rem
    }

    .hero-section {
        padding: 5vh 10vw;
    }
}