.hero-background-vector {
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 0;
}

.hero-background-vector > img {
    width: 100vw;
}

.hero-section > * {
    color: #FFF;
}

.hero-section {
    align-items: center;
    background: #043873;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 792px;
    justify-content: center;
    padding: 20vh 10vw;
    width: 100%;
    z-index: -10;
}

.hero-section > div {
    flex: 50%;
}

.hero-heading-h1 {
    margin-bottom: 24px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-heading-text-block {
    margin-bottom: 60px;
}

.know-more-btn {
    align-items: center;
    background: #4F9CF9FF;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 62px;
    justify-content: center;
    position: relative;
    width: 150px;
    z-index: 5;
}

.know-more-btn > img {
    margin-left: 10px;
}

.hero-img {
    z-index: 5;
}

.hero-img > img {
    object-fit: cover;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .hero-heading-h1 {
        font-size: 3rem
    }
}

@media only screen and (max-width: 768px) {

    .hero-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5vh 10vw;
    }

    .hero-heading-h1 {
        font-size: 4rem
    }

    .hero-heading {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    .hero-image {
        width: 100px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-heading-h1 {
        font-size: 3em
    }

    .hero-section {
        padding: 5vh 10vw;
    }
}