.divided-text-image {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    margin: 8% auto;
    width: 80%;
}

.left-divided-image {
    flex-direction: row-reverse;
}

.text-content {
    width: 50%;
}

.divided-h1 {
    font-size: 3.5rem;
    margin-bottom: 24px;
}

.divided-p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 30px;
    text-align: left;

}

.image-content {
    align-content: center;
    display: flex;
    flex: 50%;
    width: 50%;
}

.divided-image {
    height: 120%;
    object-fit: cover;
    padding: 0 2vw;
}

@media only screen and (max-width: 768px) {
    .divided-text-image {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        width: 100%;
    }

    .text-content .button {
        margin: 60px auto 0;

    }

    .divided-p {
        text-align: center;

    }

    .image-content {
        width: 100%;
    }

    .smaller-image {
        padding: 0 15vw;
    }
}

@media only screen and (max-width: 426px) {
    .divided-h1 {
        font-size: 2.3rem
    }
    .divided-p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 320px) {
}


