.testimonials {
    background: #043873;
    padding: 47px 0;
}

.testimonials > h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.testimonials-cards {
    align-items: center;
    display: flex;
    gap: 32px;
}

.testimonials-cards > * {
    flex: 1;
}

.splide__slide, .splide__slide * {
    overflow: visible;
}

@media only screen and (max-width: 768px) {
    .testimonials > h1 {
        font-size: 2.1rem;
        margin: 12px;
    }
}
