.page-header {
    background: #043873;
    height: 92px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.header-unifsp-logo {
    object-fit: cover;
    max-height: 60px;
    margin-left: 170px;
}