.page-header {
    background: #043873;
    height: 92px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
}

.header-unifsp-logo {
    object-fit: cover;
    max-height: 60px;
    margin-left: 170px;
}

.page-header > a > img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .page-header {
        padding: 0 20px;
    }

    .header-unifsp-logo {
        margin: 0;
    }
}

@media only screen and (max-width: 376px) {
   .page-header {
       padding: 0 6px;
   }
}